html{
    box-sizing: border-box;
}

nav{ border-bottom: black 1px solid;
    padding:16px;

}

.header{
    background-color: orange;
    color: white;

}

#main{
    color: white;
}

a{
    text-decoration: none;
}
div a {
    color:olive;
}

img{

height: 200px;
}

body{
    margin:0px;
    padding:0px;
}


footer{
background-color: #DFFF00;
padding: 30px 0px
}

main{
    padding:16px;
}

.Recipes{
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: 2 auto;
}

h1{
 color:forestgreen;
}

tbody>tr :nth-child(even){
    background-color: lightgray;
}
